<div class="dice-roller-container">
  <button type="button" class="roller-button" data-dice="d4" data-action="onRollDice">
    <img src="/systems/discworld/assets/dice/d4.png" alt="d4" class="dice-icon">
    {{localize 'application.roll'}} d4
  </button>
  <button type="button" class="roller-button" data-dice="d6" data-action="onRollDice">
    <img src="/systems/discworld/assets/dice/d6.png" alt="d6" class="dice-icon">
    {{localize 'application.roll'}} d6
  </button>
  <button type="button" class="roller-button" data-dice="d8" data-action="onRollDice">
    <img src="/systems/discworld/assets/dice/d8.png" alt="d8" class="dice-icon">
    {{localize 'application.roll'}} d8
  </button>
  <button type="button" class="roller-button" data-dice="d10" data-action="onRollDice">
    <img src="/systems/discworld/assets/dice/d10.png" alt="d10" class="dice-icon">
    {{localize 'application.roll'}} d10
  </button>
  <button type="button" class="roller-button" data-dice="d12" data-action="onRollDice">
    <img src="/systems/discworld/assets/dice/d12.png" alt="d12" class="dice-icon">
    {{localize 'application.roll'}} d12
  </button>
  <button type="button" class="roller-button" data-dice="d20" data-action="onRollDice">
    <img src="/systems/discworld/assets/dice/d20.png" alt="d20" class="dice-icon">
    {{localize 'application.roll'}} d20
  </button>
  <button type="button" class="roller-button" data-dice="d100" data-action="onRollDice">
    <img src="/systems/discworld/assets/dice/d100.png" alt="d100" class="dice-icon">
    {{localize 'application.roll'}} d100
  </button>
</div>